@mixin titleH1 {
    color: $darkblue;
    font-family: $maintypo;
    font-size: 95px;
}
@mixin titleH2 {
    color: $darkblue;
    font-family: $secondtypo;
    font-size: 30px;
}
@mixin btn {
    color: $white;
    font-family: $secondtypo;
    font-size: 15px;
    height: 30px;
    width: 75px;
    background-color: orangered;
    border-radius: 100%;
    
}