//Colors
$dark: rgb(30, 30, 30);
$light: white;
$darkblue: #061826;
$lightorange: rgb(255, 175, 25);
$ponctuation: orangered;

//Typographies
$maintypo: 'Playfair Display', serif;
$secondtypo: 'Lora', serif;